@page "/proyect/detalle/{IdStorie}/{userrol}"
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Proyecstories> Logger
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Historia Detalle</PageTitle>
<EditForm Model="@entidadActual">
    <div class="row align-content-center">
        <div class="col-lg-12">
            <div class="col-lg-11">
                <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar2">
                    @(entidadStorie.Project == null ? "-" : "Proyectos")  <i class="bi bi-arrow-return-left"></i>
                </button>&nbsp;/&nbsp;
                <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar3">
                    @(entidadStorie.IdInter == null ? "-" : "Entrevistados")  <i class="bi bi-arrow-return-left"></i>
                </button>&nbsp;/&nbsp;
                <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar">
                    @(entidadStorie == null ? "-" : "Historias")  <i class="bi bi-arrow-return-left"></i>
                </button>
            </div>
            <h3 class="text-start mt-4">@(entidadStorie.TitleStorie.Length > 30 ? entidadStorie.TitleStorie.Substring(0, 29) : entidadStorie.TitleStorie)</h3>
                <div class="d-flex justify-content-end mb-3">
                @if (entidadStorie.Project?.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn btn-success me-3" @onclick="GuardarEntidad" title="Actualizar Historia">
                            <i class="bi bi-save"></i>
                        </button>
                    }
                }
                <button class="btn btn-secondary me-3" @onclick="() => AgruparHistorias(entidadStorie.Project.IdProject.ToString())" title="Agrupar Historias">
                    <i class="bi bi-ui-checks"></i>
                </button>
                <button class="btn btn-secondary me-3" @onclick="() => MostrarMatriz(entidadStorie.Project.IdProject.ToString())" title="Matriz Historias">
                    <i class="bi bi-kanban"></i>
                </button>
            </div>
        </div>
    </div>
    @if (mostrarAlerta)
    {
        <div id="divAlerta" class="alert alert-success alert-dismissible fade show toast-container" role="alert" style="display:none;">
            @mensajeAlerta
            <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
        </div>
    }

    <div class="row align-content-center">
        <div class="mb-6">
            <label class="form-label"><strong>Contexto:</strong></label>
            <InputTextArea class="form-control" @bind-Value="entidadActual.ContextStorie" />
        </div>
        <div class="mb-6">
            <label class="form-label"><strong></strong></label>
        </div>
    </div>
<br />
<div class="row align-content-center" >
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Pushes</strong></label>
            </div>
            <div class="col-lg-1 justify-content-end">
                @if (entidadStorie.Project?.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn btn-primary btn-sm" title="Pushes" @onclick="MostrarPushes">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>
        @if (pushstorie is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!pushstorie.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay pushes disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="3%">#</th>
                        <th width="80%">Nombre</th>
                        <th width="15%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in pushstorie.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="3%">@index</td>
                            <td width="80%">@p.PushesGroups.PushName</td>
                                <td width="15%" class="text-end">
                                @if (entidadStorie.Project?.StatusProject == 1)
                                {
                                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                    {
                                        <button class="btn btn-success btn-sm me-2" title="Editar" @onclick="() => EditarPush(p.PushesGroups)">
                                            <i class="bi bi-pencil"></i> 
                                        </button>
                                        <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(1, p.PushesGroups.IdPush)" >
                                            <i class="bi bi-trash"></i> 
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Pulls</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (entidadStorie.Project?.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn btn-primary btn-sm" title="Pulls" @onclick="MostrarPulls">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (pullstorie is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!pullstorie.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay pulls disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="3%">#</th>
                        <th width="80%">Nombre</th>
                        <th width="15%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in pullstorie.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="3%">@index</td>
                            <td width="80%">@p.PullGroups.PullName</td>
                            <td width="15%" class="text-end">
                                @if (entidadStorie.Project?.StatusProject == 1)
                                {
                                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                    {
                                        <button class="btn btn-success btn-sm me-2" title="Editar" @onclick="() => EditarPull(p.PullGroups)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(2, p.PullGroups.IdPull)" >
                                            <i class="bi bi-trash"></i> 
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<br />
<br />

<div class="row align-content-center" >
    <div class="col-lg-6">
        <div class="row">            
            <div class="col-lg-11">
                <label><strong>Hábitos</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (entidadStorie.Project?.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn btn-primary btn-sm" title="Hábitos" @onclick="MostrarHabits">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (habitstorie is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!habitstorie.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay hábitos disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="3%">#</th>
                        <th width="80%">Nombre</th>
                        <th width="15%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in habitstorie.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="3%">@index</td>
                            <td width="80%">@p.Habits.HabitName</td>
                            <td width="15%" class="text-end">
                                @if (entidadStorie.Project?.StatusProject == 1)
                                {
                                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                    {
                                        <button class="btn btn-success btn-sm me-2" title="Editar" @onclick="() => EditarHabit(p.Habits)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(3, p.Habits.IdHabit)" >
                                            <i class="bi bi-trash"></i> 
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Ansiedades</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (entidadStorie.Project?.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn btn-primary btn-sm" title="Ansiedades" @onclick="MostrarAnxies">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>
        
        @if (anxiestorie is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!anxiestorie.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay ansiedades disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="3%">#</th>
                        <th width="80%">Nombre</th>
                        <th width="15%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in anxiestorie.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="3%">@index</td>
                            <td width="80%">@p.Anxieties.AnxieName</td>
                            <td width="15%" class="text-end">
                                @if (entidadStorie.Project?.StatusProject == 1)
                                {
                                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                    {
                                        <button class="btn btn-success btn-sm me-2" title="Editar" @onclick="() => EditarAnxie(p.Anxieties)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(4, p.Anxieties.IdAnxie)" >
                                            <i class="bi bi-trash"></i> 
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<div class="row align-content-center">
    <div class="mb-6">
        <label class="form-label"><strong></strong></label>
    </div>
    <div class="mb-6">
        <label class="form-label"><strong>Observación:</strong></label>
        <InputTextArea class="form-control" @bind-Value="entidadActual.ObservacionStorie" />
    </div>
</div>
</EditForm>
<br />
<br />
<br />
<br />

@if (mostrarPush)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@pushActual" OnValidSubmit="GuardarPush">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label class="form-label">Push:</label>
                            <InputText class="form-control" @bind-Value="pushActual.PushName" />
                            <ValidationMessage For="@(() => pushActual.PushName)" />
                        </div>
                        <div class="d-flex text-end">
                            <button type="submit" class="btn btn-success me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (mostrarPull)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@pullActual" OnValidSubmit="GuardarPull">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label class="form-label">Pull:</label>
                            <InputText class="form-control" @bind-Value="pullActual.PullName" />
                            <ValidationMessage For="@(() => pullActual.PullName)" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (mostrarHabit)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@habitActual" OnValidSubmit="GuardarHabit">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label class="form-label">Hábito:</label>
                            <InputText class="form-control" @bind-Value="habitActual.HabitName" />
                            <ValidationMessage For="@(() => habitActual.HabitName)" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (mostrarAnxie)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@anxieActual" OnValidSubmit="GuardarAnxie">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label class="form-label">Ansiedad:</label>
                            <InputText class="form-control" @bind-Value="anxieActual.AnxieName" />
                            <ValidationMessage For="@(() => anxieActual.AnxieName)" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] 
    public string idStorie { get; set; }
    [Parameter]
    public string userrol { get; set; }

    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private bool mostrarPush = false;
    private bool mostrarPull = false;
    private bool mostrarHabit = false;
    private bool mostrarAnxie = false;
    private string username = "dusa-user";
    private bool cargando = false;

    [Inject] private IStories repostorie { get; set; } = null!;
    [Inject] private IPushesGroups repopush { get; set; } = null!;
    [Inject] private IPullGroups repopull { get; set; } = null!;
    [Inject] private IHabits repohabi { get; set; } = null!;
    [Inject] private IAnxieties repoanxie { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IEmployee repouser { get; set; } = null!;

    private Stories entidadStorie = new ();    
    private int idProyec = 0;

    private List<StoriesPush> pushstorie = new();
    private List<StoriesPull> pullstorie = new();
    private List<StoriesHabbit> habitstorie = new();
    private List<StoriesAnxiety> anxiestorie = new();
    private CreatePushes pushActual = new();
    private CreatePull pullActual = new();
    private CreateAnxietie anxieActual = new();
    private CreateHabits habitActual = new();
    private CreateStorie entidadActual = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        mostrarAlerta = true;
        if (firstRender)
        {
            mostrarAlerta = false;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        try
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
            {
                username = authState.User.Identity.Name.Split(@"\")[1].Trim();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }

        try
        {
            entidadStorie = (Stories)await repostorie.GetByIdAsync(int.Parse(idStorie));
            if (entidadStorie.Project != null)
            {
                idProyec = entidadStorie.Project.IdProject;

                pushstorie = (List<StoriesPush>)await repostorie.GetPushesByStorieIdAsync(int.Parse(idStorie));

                pullstorie = (List<StoriesPull>)await repostorie.GetPullsByStorieIdAsync(int.Parse(idStorie));

                habitstorie = (List<StoriesHabbit>)await repostorie.GetHabitsByStorieIdAsync(int.Parse(idStorie));

                anxiestorie = (List<StoriesAnxiety>)await repostorie.GetAxieByStorieIdAsync(int.Parse(idStorie));

                entidadActual = new CreateStorie
                {
                    IdStorie = entidadStorie.IdStorie,
                    IdProject = entidadStorie.Project.IdProject,
                    IdInter = entidadStorie.IdInter.IdInter,
                    TitleStorie = entidadStorie.TitleStorie,
                    ContextStorie = entidadStorie.ContextStorie,
                    ObservacionStorie = entidadStorie.ObservacionStorie,
                    CreatedDate = entidadStorie.CreatedDate,
                    CreatedUser = entidadStorie.CreatedUser,
                    UpdatedDate = DateTime.Now,
                    UpdatedUser = username
                };
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
        cargando = false;
    }

    private void MostrarPushes()
    {
        try
        {
            pushActual = new CreatePushes();
            pushActual.IdPush = 0;
            pushActual.IdProject = entidadStorie.Project.IdProject;
            pushActual.CreatedDate = DateTime.Now;
            pushActual.CreatedUser = username;
            pushActual.UpdatedDate = DateTime.Now;
            pushActual.UpdatedUser = username;
            pushActual.StatusPush = 1;
            mostrarPush = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void EditarPush(PushesGroups entidad)
    {
        try
        {
            pushActual = new CreatePushes
                {
                    IdProject = entidadStorie.Project.IdProject,
                    IdPush = entidad.IdPush,
                    PushName = entidad.PushName,
                    CreatedDate = entidad.CreatedDate,
                    CreatedUser = entidad.CreatedUser,
                    UpdatedDate = DateTime.Now,
                    UpdatedUser = username,
                    StatusPush = entidad.StatusPush
                };
            mostrarPush = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarPulls()
    {
        try
        {
            pullActual = new CreatePull();
            pullActual.IdPull = 0;
            pullActual.IdProject = entidadStorie.Project.IdProject;
            pullActual.CreatedDate = DateTime.Now;
            pullActual.CreatedUser = username;
            pullActual.UpdatedDate = DateTime.Now;
            pullActual.UpdatedUser = username;
            pullActual.StatusPull = 1;
            mostrarPull = true;
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void EditarPull(PullGroups entidad)
    {
        try
        {
            pullActual = new CreatePull
            {
                IdProject = entidadStorie.Project.IdProject,
                IdPull = entidad.IdPull,
                PullName = entidad.PullName,
                CreatedDate = entidad.CreatedDate,
                CreatedUser = entidad.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username,
                StatusPull = entidad.StatusPull
            };
            mostrarPull = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarHabits()
    {
        try
        {
            habitActual = new CreateHabits();
            habitActual.IdHabit = 0;
            habitActual.IdProject = entidadStorie.Project.IdProject;
            habitActual.CreatedDate = DateTime.Now;
            habitActual.CreatedUser = username;
            habitActual.UpdatedDate = DateTime.Now;
            habitActual.UpdatedUser = username;
            habitActual.StatusHabit = 1;
            mostrarHabit = true;
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void EditarHabit(Habits entidad)
    {
        try
        {
            habitActual = new CreateHabits
            {
                IdProject = entidadStorie.Project.IdProject,
                IdHabit = entidad.IdHabit,
                HabitName = entidad.HabitName,
                CreatedDate = entidad.CreatedDate,
                CreatedUser = entidad.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username,
                StatusHabit = entidad.StatusHabit
            };
            mostrarHabit = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarAnxies()
    {
        try
        {
            anxieActual = new CreateAnxietie();
            anxieActual.IdAnxie = 0;
            anxieActual.IdProject = entidadStorie.Project.IdProject;
            anxieActual.CreatedDate = DateTime.Now;
            anxieActual.CreatedUser = username;
            anxieActual.UpdatedDate = DateTime.Now;
            anxieActual.UpdatedUser = username;
            anxieActual.StatusAnxie = 1;
            mostrarAnxie = true;
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void EditarAnxie(Anxieties entidad)
    {
        try
        {
            anxieActual = new CreateAnxietie
            {
                IdProject = entidadStorie.Project.IdProject,
                IdAnxie = entidad.IdAnxie,
                AnxieName = entidad.AnxieName,
                CreatedDate = entidad.CreatedDate,
                CreatedUser = entidad.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username,
                StatusAnxie = entidad.StatusAnxie
            };
            mostrarAnxie = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarPush()
    {
        try
        {
            if (pushActual.IdPush == 0)
            {
                PushesGroups auxenti = await repopush.CreateAsync(pushActual);
                CreateStoriesPush auxnuevo = new CreateStoriesPush()
                    {
                        IdPush = auxenti.IdPush,
                        IdStories = int.Parse(idStorie)
                    };
                await repostorie.CreateStoriePushAsync(auxnuevo);
            }
            else
                await repopush.UpdateAsync(pushActual);

            pushstorie = (List<StoriesPush>)await repostorie.GetPushesByStorieIdAsync(int.Parse(idStorie));

            mostrarPush = false;
            mensajeAlerta = "Push guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarPull()
    {
        try
        {
            if (pullActual.IdPull == 0)
            {
                PullGroups auxenti = await repopull.CreateAsync(pullActual);
                CreateStoriesPull auxnuevo = new CreateStoriesPull()
                    {
                        IdPull = auxenti.IdPull,
                        IdStories = int.Parse(idStorie)
                    };
                await repostorie.CreateStoriePullAsync(auxnuevo);
            }
            else
                await repopull.UpdateAsync(pullActual);

            pullstorie = (List<StoriesPull>)await repostorie.GetPullsByStorieIdAsync(int.Parse(idStorie));

            mostrarPull = false;
            mensajeAlerta = "Pull guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarHabit()
    {
        try
        {
            if (habitActual.IdHabit == 0)
            {
                Habits auxenti = await repohabi.CreateAsync(habitActual);
                CreateStoriesHabbit auxnuevo = new CreateStoriesHabbit()
                    {
                        IdHabit = auxenti.IdHabit,
                        IdStories = int.Parse(idStorie)
                    };
                await repostorie.CreateStorieHabitAsync(auxnuevo);
            }
            else
                await repohabi.UpdateAsync(habitActual);

            habitstorie = (List<StoriesHabbit>)await repostorie.GetHabitsByStorieIdAsync(int.Parse(idStorie));

            mostrarHabit = false;
            mensajeAlerta = "Hábito guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarAnxie()
    {
        try
        {
            if (anxieActual.IdAnxie == 0)
            {
                Anxieties auxenti = await repoanxie.CreateAsync(anxieActual);
                CreateStoriesAnxiety auxnuevo = new CreateStoriesAnxiety()
                    {
                        IdAnxie = auxenti.IdAnxie,
                        IdStories = int.Parse(idStorie)
                    };
                await repostorie.CreateStorieAnxieAsync(auxnuevo);
            }
            else
                await repoanxie.UpdateAsync(anxieActual);

            anxiestorie = (List<StoriesAnxiety>)await repostorie.GetAxieByStorieIdAsync(int.Parse(idStorie));

            mostrarAnxie = false;
            mensajeAlerta = "Ansiedad guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task EliminarEntidad(int opcion, int id)
    {
        try
        {
            bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Esta seguro que desea eliminar este registro?");
            if (confirmed)
            {
                await repostorie.DeleteStorieEntityAsync(opcion, int.Parse(idStorie), id);

                mensajeAlerta = "Item eliminado exitosamente.";

                switch(opcion)
                {
                    case 1:
                        await repopush.DeleteAsync(id);
                        pushstorie = (List<StoriesPush>)await repostorie.GetPushesByStorieIdAsync(int.Parse(idStorie));
                        break;
                    case 2:
                        await repopull.DeleteAsync(id);
                        pullstorie = (List<StoriesPull>)await repostorie.GetPullsByStorieIdAsync(int.Parse(idStorie));
                        break;
                    case 3:
                        await repohabi.DeleteAsync(id);
                        habitstorie = (List<StoriesHabbit>)await repostorie.GetHabitsByStorieIdAsync(int.Parse(idStorie));
                        break;
                    case 4:
                        await repoanxie.DeleteAsync(id);
                        anxiestorie = (List<StoriesAnxiety>)await repostorie.GetAxieByStorieIdAsync(int.Parse(idStorie));
                        break;
                }
                mostrarAlerta = true;
                await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Cancelar()
    {
        mostrarPush = false;
        mostrarPull = false;
        mostrarHabit = false;
        mostrarAnxie = false;
    }

    private void Regresar()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecstories/{entidadStorie.IdInter.IdInter}/{userrol}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Regresar2()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyectos");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Regresar3()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/interview/{entidadStorie.Project.IdProject}/{userrol}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task AgruparHistorias(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsagrupar/{id}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task MostrarMatriz(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsmatriz/{id}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task GuardarEntidad()
    {
        try
        {
            await repostorie.UpdateAsync(entidadActual);

            entidadStorie = (Stories)await repostorie.GetByIdAsync(int.Parse(idStorie));

            entidadActual = new CreateStorie
            {
                IdStorie = entidadStorie.IdStorie,
                IdProject = entidadStorie.Project.IdProject,
                IdInter = entidadStorie.IdInter.IdInter,
                TitleStorie = entidadStorie.TitleStorie,
                ContextStorie = entidadStorie.ContextStorie,
                ObservacionStorie = entidadStorie.ObservacionStorie,
                CreatedDate = entidadStorie.CreatedDate,
                CreatedUser = entidadStorie.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username
            };

            mensajeAlerta = "Historia guardada exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }
}
<script>
    $(document).ready(function () {
         var EstadoMenu = localStorage.getItem('sidebarState');
         if(EstadoMenu == "collapsed"){
            var sidebar = document.getElementById("sidebardemo");
            var mainContent = document.getElementById("maindemo");
            if (sidebar) {
                sidebar.classList.toggle("collapsed");
            } else {
                console.error("Error: No se encontró elementos ('sidebar')");
            }
            if (mainContent) {
                mainContent.classList.toggle("expanded");
            } else {
                console.error("Error: No se encontró elementos ('main-content')");
            }
         }
         console.log("Estado del menú: " + EstadoMenu);
    });

</script>