@using Jtbd.Domain.Entities
<div class="row align-content-center">    
    <div class="col-lg-4">
        <div class="list-container" style="height: 70vh; overflow-y: auto;">
            <MudText Typo="Typo.h6" GutterBottom="true">Fuerzas Extraídas sin Agrupar</MudText>
    
            <MudDropZone T="ForceItemViewModel" 
                         Items="UnassignedForces"
                         @* ItemsSelector="@((item,zone) => true)" *@
                         ItemDropped="OnItemDropped"
                         Class="d-flex flex-column gap-2">
                <ChildContent>
                    @foreach (var force in UnassignedForces)
                    {
                        <MudDropItem Item="force" Class="draggable-item">
                            <MudText>@force.Text</MudText>
                            <MudText Typo="Typo.caption" Class="mt-1"><i>Origen: @force.OriginStoryTitle</i></MudText>
                        </MudDropItem>
                    }
                </ChildContent>
            </MudDropZone>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="row">
            @foreach (var group in Groups)
            {
                <div class="col-lg-6">
                    <div class="list-container" style="height: 34vh; overflow-y: auto;">
                        <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom="true">@group.Name</MudText>
                
                        <MudDropZone T="ForceItemViewModel" 
                                     Items="group.ContainedForces" 
                                     ItemDropped="OnItemDropped"
                                     @* ItemsSelector="@((item,zone) => true)" *@
                                     Class="d-flex flex-column gap-2">
                            <ChildContent>
                                @foreach (var force in group.ContainedForces)
                                {
                                    <MudDropItem Item="force" Class="draggable-item">
                                        <MudText>@force.Text</MudText>
                                        <MudText Typo="Typo.caption" Class="mt-1"><i>Origen: @force.OriginStoryTitle</i></MudText>
                                    </MudDropItem>
                                }
                            </ChildContent>
                        </MudDropZone>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ForceItemViewModel> UnassignedForces { get; set; } = new();

    [Parameter]
    public List<ForceGroupViewModel> Groups { get; set; } = new();

    [Parameter]
    public EventCallback<MudItemDropInfo<ForceItemViewModel>> OnItemDropped { get; set; }
}
