@page "/proyect/proyecsdefinirjob/{IdCluster}/{IdProyecto}"
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Proyecstories> Logger
@inject AuthenticationStateProvider authenStateProvider

<PageTitle>Definir Jobs</PageTitle>
<div class="row align-content-center">
    <div class="col-lg-12">
        <div class="col-lg-11">
            <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar">
                @(proyecto == null ? "-" : "Proyectos")  <i class="bi bi-arrow-return-left"></i>
            </button>&nbsp;/&nbsp;
            <button class="btn btn-link btn-sm me-2 align-content-end" @onclick="MostrarMatriz" title="Regresar">
                @(proyecto == null ? "-" : "Matriz Historias")  <i class="bi bi-arrow-return-left"></i>
            </button>
        </div>
        <h3 class="text-start mt-4">Definir Jobs Cluster @IdCluster</h3>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn boton-secundario me-3" @onclick="MostrarClusteres" title="Ver Clusteres">
                <i class="bi bi-building"></i>
            </button>
            @if (proyecto.StatusProject == 1)
            {
                @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                {
                    <button class="btn boton-primario me-3" @onclick="GuardarEntidad2" title="Actualizar Historia">
                        <i class="bi bi-save"></i>
                    </button>
                }
            }
        </div>
    </div>
</div>
@if (mostrarAlerta)
{
    <div id="divAlerta" class="alert alert-success alert-dismissible fade show toast-container" role="alert" style="display:none;">
        @mensajeAlerta
        <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
    </div>
}

<EditForm Model="@entidadActual2" OnValidSubmit="GuardarEntidad2">
    <div class="row align-content-center">
        <div class="mb-6">
            <label class="form-label"><strong>Enunciado :</strong></label>
            <InputTextArea class="form-control" @bind-Value="entidadActual2.Descripcion" />
        </div>
        <div class="mb-6">
            <label class="form-label"><strong></strong></label>
        </div>
    </div>
    <br />
</EditForm>


<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>More About</strong></label>
            </div>
            <div class="col-lg-1 justify-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="More About" @onclick="() => MostrarEntidad(1)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>
        @if (lista1 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista1.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay More About disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista1.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Less About</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Less About" @onclick="() => MostrarEntidad(2)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista2 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista2.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Less About disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista2.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Key Tradeoffs</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Key Tradeoffs" @onclick="() => MostrarEntidad(3)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista3 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista3.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Key Tradeoffs disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista3.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<hr />
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Pushes</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Pushes" @onclick="() => MostrarEntidad(4)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista4 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista4.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Pushes disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista4.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Pulls</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Pulls" @onclick="() => MostrarEntidad(5)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista5 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista5.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Pulls disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista5.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<hr />
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Aspectos Funcionales</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Aspectos Funcionales" @onclick="() => MostrarEntidad(6)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista6 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista6.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Aspectos Funcionales disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista6.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Aspectos Emocionales</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Aspectos Emocionales" @onclick="() => MostrarEntidad(7)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista7 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista7.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Aspectos Emocionales disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista7.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Aspectos Sociales</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Aspectos Sociales" @onclick="() => MostrarEntidad(8)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista8 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista8.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Aspectos Sociales disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista8.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Ansiedades</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Ansiedades" @onclick="() => MostrarEntidad(9)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista9 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista9.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Ansiedades disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista9.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<hr />
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>Set Competitivo</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="Set Competitivo" @onclick="() => MostrarEntidad(10)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista10 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista10.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay Set Competitivo disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista10.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<hr />
<br />
<br />

<div class="row align-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>What we hear when hiring</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="What we hear when hiring" @onclick="() => MostrarEntidad(11)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista11 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista11.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay What we hear when hiring disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista11.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-11">
                <label><strong>What we hear when firing</strong></label>
            </div>
            <div class="col-lg-1 align-content-end">
                @if (proyecto.StatusProject == 1)
                {
                    @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                    {
                        <button class="btn boton-primario btn-sm" title="What we hear when firing" @onclick="() => MostrarEntidad(12)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    }
                }
            </div>
        </div>

        @if (lista12 is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!lista12.Any())
        {
            <div class="alert alert-light text-center bg-opacity-25">No hay What we hear when firing disponibles.</div>
        }
        else
        {
            <br />
            <table class="table">
                <thead class="table">
                    <tr>
                        <th width="10%">#</th>
                        <th width="65%">Nombre</th>
                        <th width="25%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (p, index) in lista12.Select((p, i) => (p, i + 1)))
                    {
                        <tr>
                            <td width="10%">@index</td>
                            <td width="65%">@p.Descripcion</td>
                            <td width="25%" class="text-end">
                                @if (proyecto.StatusProject == 1)
                                {
                                    <button class="btn boton-primario btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => EliminarEntidad(p.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<br />

@if (mostrarEntidad)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@entidadActual" OnValidSubmit="GuardarEntidad">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            @switch(entidadActual.IdTipo)
                            {
                                case 1:
                                    <label class="form-label">More About:</label>
                                    break;
                                case 2:
                                    <label class="form-label">Less About:</label>
                                    break;
                                case 3:
                                    <label class="form-label">Key Tradeoffs:</label>
                                    break;
                                case 4:
                                    <label class="form-label">Pushes:</label>
                                    break;
                                case 5:
                                    <label class="form-label">Pulls:</label>
                                    break;
                                case 6:
                                    <label class="form-label">Aspectos Funcionales:</label>
                                    break;
                                case 7:
                                    <label class="form-label">Aspectos Emocionales:</label>
                                    break;
                                case 8:
                                    <label class="form-label">Aspectos Sociales:</label>
                                    break;
                                case 9:
                                    <label class="form-label">Ansiedades:</label>
                                    break;
                                case 10:
                                    <label class="form-label">Set Competitivo:</label>
                                    break;
                                case 11:
                                    <label class="form-label">What we hear when hiring:</label>
                                    break;
                                case 12:
                                    <label class="form-label">What we hear when firing:</label>
                                    break;
                            }
                            
                            <InputText class="form-control" @bind-Value="entidadActual.Descripcion" />
                            <ValidationMessage For="@(() => entidadActual.Descripcion)" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn boton-primario me-2">
                                <i class="bi bi-save"></i> Guardar
                            </button>
                            <button type="button" class="btn btn-danger" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


@if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@code {
    [Parameter]
    public string IdCluster { get; set; }
    [Parameter]
    public string IdProyecto { get; set; }

    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private bool mostrarEntidad = false;
    private string username = "dusa-user";
    private string userrol = "5";
    private string enunciado = string.Empty;
    private int idenunciado = 0;
    private bool cargando = false;

    private Projects proyecto = new();
    private CreateClustersJobs entidadActual = new();
    private CreateClustersJobs entidadActual2 = new();
    private List<StoriesClustersJobs> listaGral = new();
    private List<StoriesClustersJobs> lista1 = new();
    private List<StoriesClustersJobs> lista2 = new();
    private List<StoriesClustersJobs> lista3 = new();
    private List<StoriesClustersJobs> lista4 = new();
    private List<StoriesClustersJobs> lista5 = new();
    private List<StoriesClustersJobs> lista6 = new();
    private List<StoriesClustersJobs> lista7 = new();
    private List<StoriesClustersJobs> lista8 = new();
    private List<StoriesClustersJobs> lista9 = new();
    private List<StoriesClustersJobs> lista10 = new();
    private List<StoriesClustersJobs> lista11 = new();
    private List<StoriesClustersJobs> lista12 = new();
    private List<StoriesClustersJobs> lista13 = new();

    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IProjects repoproyect { get; set; } = null!;
    [Inject] private IEmployee repouser { get; set; } = null!;
    [Inject] private IMatrizWard repomatrix { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        mostrarAlerta = true;
        if (firstRender)
        {
            mostrarAlerta = false;
            try
            {
                var userrolaux = await SessionStorage.GetAsync<string>("UserRol");
                if (!string.IsNullOrEmpty(userrolaux.Value))
                {
                    userrol = userrolaux.Value;
                }
            }
            catch (Exception ex)
            {
                Logger.LogError(ex.Message);
                mensajeAlerta = ex.Message;
                mostrarAlerta = true;
            }
            StateHasChanged();
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        try
        {
            proyecto = (Projects)await repoproyect.GetByIdAsync(int.Parse(IdProyecto));

            if (proyecto != null)
            {
                await CargarDatos();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
        cargando = false;
    }

    private async Task CargarDatos()
    {
        listaGral = (List<StoriesClustersJobs>)await repomatrix.GetClustersJobsByClusterAsync(int.Parse(IdProyecto), int.Parse(IdCluster));

        lista1 = listaGral.Where(x => x.IdTipo == 1).ToList();
        lista2 = listaGral.Where(x => x.IdTipo == 2).ToList();
        lista3 = listaGral.Where(x => x.IdTipo == 3).ToList();
        lista4 = listaGral.Where(x => x.IdTipo == 4).ToList();
        lista5 = listaGral.Where(x => x.IdTipo == 5).ToList();
        lista6 = listaGral.Where(x => x.IdTipo == 6).ToList();
        lista7 = listaGral.Where(x => x.IdTipo == 7).ToList();
        lista8 = listaGral.Where(x => x.IdTipo == 8).ToList();
        lista9 = listaGral.Where(x => x.IdTipo == 9).ToList();
        lista10 = listaGral.Where(x => x.IdTipo == 10).ToList();
        lista11 = listaGral.Where(x => x.IdTipo == 11).ToList();
        lista12 = listaGral.Where(x => x.IdTipo == 12).ToList();
        lista13 = listaGral.Where(x => x.IdTipo == 13).ToList();

        foreach (var enumc in lista13)
        {
            idenunciado = enumc.Id;
            enunciado = enumc.Descripcion;
        }

        entidadActual2 = new CreateClustersJobs
        {
            Id = idenunciado,
            IdProject = int.Parse(IdProyecto),
            IdCluster = int.Parse(IdCluster),
            IdTipo = 13,
            Descripcion = enunciado
        };
    }

    private void MostrarEntidad(int idTipo)
    {
        try
        {
            entidadActual = new CreateClustersJobs();
            entidadActual.Id = 0;
            entidadActual.IdProject = int.Parse(IdProyecto);
            entidadActual.IdCluster = int.Parse(IdCluster);
            entidadActual.IdTipo = idTipo;
            mostrarEntidad = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void EditarEntidad(StoriesClustersJobs entidad)
    {
        try
        {
            entidadActual = new CreateClustersJobs
            {
                Id = entidad.Id,
                IdProject = entidad.Project.IdProject,
                IdCluster = entidad.IdCluster,
                IdTipo = entidad.IdTipo,
                Descripcion = entidad.Descripcion
            };
            mostrarEntidad = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarEntidad()
    {
        try
        {
            if (entidadActual.Id == 0)
            {
                await repomatrix.CreateClusterJobsAsync(entidadActual);
            }
            else
                await repomatrix.UpdateClusterJobsAsync(entidadActual);

            await CargarDatos();

            mostrarEntidad = false;
            mensajeAlerta = "Item guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task EliminarEntidad(int id)
    {
        try
        {
            bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Esta seguro que desea eliminar este registro?");
            if (confirmed)
            {
                await repomatrix.DeleteClusterJobsAsync(id);

                await CargarDatos();
                mensajeAlerta = "Item eliminado exitosamente.";
                mostrarAlerta = true;
                await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Cancelar()
    {
        mostrarEntidad = false;
    }

    private void Regresar()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyectos");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task MostrarMatriz()
    {
        try
        {
           NavigationManager.NavigateTo($"proyect/proyecsmatriz/{int.Parse(IdProyecto)}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task MostrarClusteres()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecscluster/{int.Parse(IdProyecto)}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task GuardarEntidad2()
    {
        try
        {
            if (entidadActual2.Id == 0)
            {
                await repomatrix.CreateClusterJobsAsync(entidadActual2);
            }
            else
                await repomatrix.UpdateClusterJobsAsync(entidadActual2);

            await CargarDatos();

            mostrarEntidad = false;
            mensajeAlerta = "Enunciado guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }
}