@page "/proyect/proyecscluster/{IdProyecto}/{userrol}"

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Proyecstories> Logger
@inject AuthenticationStateProvider authenticationStateProvider


<PageTitle>Historias</PageTitle>
<div class="row align-content-center">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar2">
                @(proyecto == null ? "-" : "Proyectos")  <i class="bi bi-arrow-return-left"></i>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h3 class="text-start mt-4">Clústeres de Historias y Grupos</h3>
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary m-1" @onclick="MostrarFormulario" title="Imprimir Clústeres">
                        <i class="bi bi-filetype-csv"></i>
                    </button>
                    <button class="btn btn-secondary m-1" @onclick="() => MostrarMatriz(IdProyecto)" title="Matriz Historias">
                        <i class="bi bi-kanban"></i>
                    </button>
                    @if (proyecto.StatusProject == 1)
                    {
                        @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                        {
                            <button class="btn btn-primary m-1" @onclick="MostrarFormulario2" title="Cerrar Proyecto">
                                <i class="bi bi-door-closed"></i>
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row align-content-center">
    <div class="col-lg-12">
        @if (mostrarAlerta)
        {
            <div id="divAlerta" class="alert alert-success alert-dismissible fade show toast-container" role="alert" style="display:none;">
                @mensajeAlerta
                <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
            </div>
        }

        @if (clusteres is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!clusteres.Any())
        {
            <div class="alert alert-info text-center">No hay datos disponibles.</div>
        }
        else
        {
            <div class="row align-content-center">
                @foreach (var clus in clusterTabla.DistinctBy(x => x.IdCluster).OrderBy(x => x.IdCluster))
                {
                    <div class="col-lg-12">
                        <div class="row align-content-center">
                            <div class="row">
                                <div class="col-lg-11">
                                    <label><strong>Clúster @clus.IdCluster</strong></label>
                                </div>
                                <div class="col-lg-1 text-end">
                                     <button class="btn btn-primary btn-sm" title="Definir Job" @onclick="() => DefinirJob(clus.IdCluster)">
                                                <i class="bi bi-plus-lg"></i>
                                     </button>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row align-content-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table align-content-center">
                                        <thead class="table text-center">
                                            <tr>
                                                <th>&nbsp;&nbsp;</th>

                                                @foreach (var p in clusterTabla.Where(x => x.IdCluster == clus.IdCluster).DistinctBy(x => x.IdStorie))
                                                {
                                                    <th style="vertical-align: middle;">@p.StorieName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            @foreach (var p in clusterTabla.Where(x => x.IdCluster == clus.IdCluster).DistinctBy(x => x.IdGroup))
                                            {
                                                <tr>
                                                    <td style="text-align:left">@p.GroupName</td>

                                                    @foreach (var y in clusterTabla.Where(x => x.IdCluster == p.IdCluster && x.IdGroup == p.IdGroup).DistinctBy(x => x.IdStorie))
                                                    {
                                                        @if (y.ValorGroup == 1)
                                                        {
                                                            <td style="background-color:lightgreen;">
                                                                <button type="button" class="btn btn-success" style="background-color:lightgreen;color:darkgreen;border:hidden" title="">1</button>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <button type="button" class="btn btn-light" title="">0</button>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
        }
    </div>

    @if (mostrarFormulario)
    {
        <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Generar CSV</h5>
                        <button type="button" class="btn-close" @onclick="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="entidadActual" OnValidSubmit="GuardarEntidad">
                            <DataAnnotationsValidator />

                            <div class="mb-3">
                                <label class="form-label">Separador:</label>
                                <InputSelect class="form-select" @bind-Value="entidadActual.TipoSeparador">
                                    <option value="-1">-- Seleccione uno --</option>
                                    <option value="1">Coma</option>
                                    <option value="2">Punto y Coma</option>
                                    @* <option value="3">Tabulador</option> *@
                                </InputSelect>
                                <ValidationMessage For="@(() => entidadActual.TipoSeparador)" />
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success me-2">
                                    <i class="bi bi-save"></i> Guardar
                                </button>
                                <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                    <i class="bi bi-times"></i> Cancelar
                                </button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (mostrarFormulario2)
    {
        <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cerrar Proyecto</h5>
                        <button type="button" class="btn-close" @onclick="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            ¿Está seguro? Un proyecto cerrado no puede volver a editarse.
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary me-2" @onclick="CerrarProyecto">
                                <i class="bi bi-times"></i> Cerrar
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @if (cargando)
    {
        <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-cargando text-lg-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@code {
    [Parameter]
    public string IdProyecto { get; set; }
    [Parameter]
    public string userrol { get; set; }

    private Projects proyecto = new();
    private List<StoriesClusters> clusteres = new();
    private List<TablaCluster> clusterTabla = new();
    private List<Groups> grupospush = new();
    private List<Groups> grupospull = new();
    private List<StoriesGroupsPulls> storiespull = new();
    private List<StoriesGroupsPushes> storiespush = new();
    private MatrizCSV entidadActual = new();

    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private bool mostrarFormulario = false;
    private bool mostrarFormulario2 = false;
    private bool cargando = false;

    [Inject] private IProjects repoproyect { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IMatrizWard repomatrix { get; set; } = null!;
    [Inject] private IGroups repogroups { get; set; } = null!;
    [Inject] private IStories repository { get; set; } = null!;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        mostrarAlerta = true;
        if (firstRender)
        {
            mostrarAlerta = false;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        try
        {
            proyecto = (Projects)await repoproyect.GetByIdAsync(int.Parse(IdProyecto));
            clusteres = await repomatrix.GetStoriesClustersAsync(int.Parse(IdProyecto));

            grupospush = (List<Groups>)await repogroups.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 0);
            grupospull = (List<Groups>)await repogroups.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 1);
            storiespull = (List<StoriesGroupsPulls>)await repository.GetStorieGroupPullsByProjectIdAsync(int.Parse(IdProyecto));
            storiespush = (List<StoriesGroupsPushes>)await repository.GetStorieGroupPushesByProjectIdAsync(int.Parse(IdProyecto));

            if (clusteres.Count > 0)
            {
                clusterTabla = new List<TablaCluster>();
                //foreach (var clus in clusteres.DistinctBy(x => x.IdCluster).OrderBy(x => x.IdCluster))
                foreach (var clus in clusteres.OrderBy(x => x.IdCluster))
                {
                    foreach (Groups grp in grupospush)
                    {
                        if (grp.GroupName != "Leftovers")
                        {
                            int? valor = null;
                            int idgroup = 0;
                            int idstorie = 0;

                            TablaCluster tablaaux = new TablaCluster();

                            foreach (StoriesGroupsPushes val in storiespush.Where(x => x.Stories?.IdStorie == clus.Stories?.IdStorie && x.Groups?.IdGroup == grp.IdGroup))
                            {
                                valor = val.ValorPush;
                                idgroup = val.Groups.IdGroup;
                                idstorie = val.Stories.IdStorie;
                            }
                            tablaaux.IdCluster = clus.IdCluster;
                            tablaaux.IdGroup = idgroup;
                            tablaaux.IdStorie = idstorie;
                            tablaaux.GroupName = grp.GroupName;
                            tablaaux.StorieName = $"{clus.Stories?.IdInter?.InterName}/{clus.Stories?.TitleStorie}";
                            tablaaux.ValorGroup = valor;
                            clusterTabla.Add(tablaaux);
                        }
                    }

                    foreach (Groups grp in grupospull)
                    {
                        if (grp.GroupName != "Leftovers")
                        {
                            int? valor = null;
                            int idgroup = 0;
                            int idstorie = 0;

                            TablaCluster tablaaux = new TablaCluster();

                            foreach (StoriesGroupsPulls val in storiespull.Where(x => x.Stories?.IdStorie == clus.Stories?.IdStorie && x.Groups?.IdGroup == grp.IdGroup))
                            {
                                valor = val.ValorPull;
                                idgroup = val.Groups.IdGroup;
                                idstorie = val.Stories.IdStorie;
                            }
                            tablaaux.IdCluster = clus.IdCluster;
                            tablaaux.IdGroup = idgroup;
                            tablaaux.IdStorie = idstorie;
                            tablaaux.GroupName = grp.GroupName;
                            tablaaux.StorieName = $"{clus.Stories?.IdInter?.InterName}/{clus.Stories?.TitleStorie}";
                            tablaaux.ValorGroup = valor;
                            clusterTabla.Add(tablaaux);
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
        cargando = false;
    }

    private void MostrarFormulario()
    {
        try
        {
            entidadActual = new MatrizCSV();
            entidadActual.TipoSeparador = -1;
            mostrarFormulario = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarFormulario2()
    {
        try
        {
            mostrarFormulario2 = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarEntidad()
    {
        try
        {
            string separador = string.Empty;

            switch (entidadActual.TipoSeparador)
            {
                case 1:
                    separador = ",";
                    break;
                case 2:
                    separador = ";";
                    break;
                case 3:
                    separador = @"\t";
                    break;
            }

            mostrarFormulario = false;
            await ExportarCsv(separador);
            mensajeAlerta = "Archivo generado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Cancelar()
    {
        mostrarFormulario = false;
        mostrarFormulario2 = false;
    }

    private async Task ExportarCsv(string separador)
    {
        try
        {
            var csvString = GenerarCsv(separador); // Implementa esta función para formatear los datos
            await JSRuntime.InvokeVoidAsync("downloadFileFromStream", $"clusteres-{proyecto.ProjectName}.csv", csvString);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private string GenerarCsv(string separador)
    {
        try
        {
            // Lógica para construir la cadena CSV
            var sb = new StringBuilder();

            int i = 0;
            string encabezado = $" {separador}";
            foreach (var clus in clusterTabla.DistinctBy(x => x.IdCluster).OrderBy(x => x.IdCluster))
            {
                foreach (var p in clusterTabla.Where(x => x.IdCluster == clus.IdCluster).DistinctBy(x => x.IdStorie))
                {
                    encabezado += $"{p.StorieName}{separador}";
                }
            }

            sb.AppendLine(encabezado); // Encabezados

            string linea = string.Empty;
            foreach (var p in clusterTabla.DistinctBy(x => x.IdGroup).OrderBy(x => x.IdCluster))
            {
                linea = $"{p.GroupName}{separador}";

                foreach (var y in clusterTabla.Where(x => x.IdGroup == p.IdGroup).DistinctBy(x => x.IdStorie))
                {
                    linea += $"{y.ValorGroup}{separador}";
                }

                sb.AppendLine(linea);
            }

            return sb.ToString();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
        return null;
    }

    private void Regresar2()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyectos");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task MostrarMatriz(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsmatriz/{id}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task DefinirJob(int id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsdefinirjob/{id}/{IdProyecto}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task CerrarProyecto()
    {
        try
        {
            string username = string.Empty;

            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
            {
                username = authState.User.Identity.Name.Split(@"\")[1].Trim();
            }

            CreateProject proyectoActual = new CreateProject
            {
                IdProject = proyecto.IdProject,
                ProjectName = proyecto.ProjectName,
                ProjectDate = proyecto.ProjectDate,
                IdDeparmento = proyecto.Deparment.Id,
                idCategoria = proyecto.Categories.Id,
                ProjectDescription = proyecto.ProjectDescription,
                MaxPushes = proyecto.MaxPushes,
                MaxPulls = proyecto.MaxPulls,
                RutaImage = proyecto.RutaImage,
                CreatedDate = proyecto.CreatedDate,
                CreatedUser = proyecto.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username,
                StatusProject = 2
            };

            await repoproyect.UpdateAsync(proyectoActual);

            mensajeAlerta = "Proyecto cerrado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);

            mostrarFormulario2 = false;

            try
            {
                proyecto = (Projects)await repoproyect.GetByIdAsync(int.Parse(IdProyecto));
            }
            catch (Exception ex)
            {
                Logger.LogError(ex.Message);
                mensajeAlerta = ex.Message;
                mostrarAlerta = true;
                await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }
}

<style>
    body, .table {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    label {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
    }
</style>
<script>
    function downloadFileFromStream(fileName, content) {
        const blob = new Blob([content], { type: "text/csv;charset=utf-8" });
        const url = URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
        URL.revokeObjectURL(url);
    }
    
    $(document).ready(function () {
         var EstadoMenu = localStorage.getItem('sidebarState');
         if(EstadoMenu == "collapsed"){
            var sidebar = document.getElementById("sidebardemo");
            var mainContent = document.getElementById("maindemo");
            if (sidebar) {
                sidebar.classList.toggle("collapsed");
            } else {
                console.error("Error: No se encontró elementos ('sidebar')");
            }
            if (mainContent) {
                mainContent.classList.toggle("expanded");
            } else {
                console.error("Error: No se encontró elementos ('main-content')");
            }
         }
         console.log("Estado del menú: " + EstadoMenu);
    });
</script>
