@page "/proyect/proyecsagrupar/{IdProyecto}/{userrol}"

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Interview> Logger
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Agrupar Historias</PageTitle>
<div class="row align-content-center">
    <div class="col-lg-12">
        <div class="d-flex justify-content-start mb-3">
            <button class="btn btn-link btn-sm me-2 align-content-end" title="Regresar" @onclick="Regresar">
                @(proyecto == null ? "-" : "Proyectos")  <i class="bi bi-arrow-return-left"></i>
            </button>
        </div>
    </div>
</div>
<div class="row align-content-center">
    <div class="col-lg-12">
        <h3 class="text-start mt-4">Agrupar Historias</h3>
        <div class="d-flex justify-content-end">
            <button class="btn boton-secundario" @onclick="() => MostrarMatriz(IdProyecto)" title="Matriz Historias">
                <i class="bi bi-kanban"></i>
            </button>
        </div>
    </div>
</div>

@if (mostrarAlerta)
{
    <br />
    <div id="divAlerta" class="alert alert-success alert-dismissible fade show toast-container" role="alert" style="display:none;">
        @mensajeAlerta
        <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
    </div>
}


<div class="row align-content-center">
    <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="push-tab" data-bs-toggle="tab" data-bs-target="#push" type="button" role="tab" aria-controls="push" aria-selected="true"><strong>Historias - Pushes</strong></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pull-tab" data-bs-toggle="tab" data-bs-target="#pull" type="button" role="tab" aria-controls="pull" aria-selected="false"><strong>Historias - Pulls</strong></button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="push" role="tabpanel" aria-labelledby="push-tab">
                <div class="row align-content-center">
                    <div class="col-lg-4">
                        <div class="list-container" ondragover="event.preventDefault();" @ondrop="HandleDropList1" style="width: 100%; height: 50%; overflow: auto; overflow-x:hidden">
                            <PaginationComponent2 TItem="Item" Items="List1" DefaultPageSize="10">
                                <ChildContentHeader>
                                    <tr>
                                        <th>Historias - Pushes</th>
                                    </tr>
                                </ChildContentHeader>
                                <ChildContentRow Context="item">
                                    <tr>
                                        <td>
                                            <div class="draggable-item" draggable="true"
                                                 @ondragstart="() => HandleDragStart(item, null)"
                                                 @ondragend="HandleDragEnd">
                                                @item.Name
                                            </div>
                                        </td>
                                    </tr>
                                </ChildContentRow>
                            </PaginationComponent2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            @foreach (var group in grupospush)
                            {
                                <div class="col-lg-6">
                                    <div class="list-container" style="width: 100%; resize:none; overflow-x:hidden; overflow-y:hidden;">
                                        <div style="width: 100%; height: 15px;">
                                            <div class="row">
                                                <div class="col-10">
                                                    <strong><h7>@group.GroupName&nbsp;&nbsp;&nbsp;</h7></strong>
                                                </div>
                                                <div class="col-1 align-content-end">
                                                    @if (group.GroupName != "Leftovers")
                                                    {
                                                        @if (proyecto.StatusProject == 1)
                                                        {
                                                            @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                                            {
                                                                <button class="btn boton-primario btn-sm" title="Editar" @onclick="() => EditarEntidad(group)">
                                                                    <i class="bi bi-pencil"></i>
                                                                </button>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div id="@group.IdGroup+@group.GroupName" class="list-container2" style="width: 98%; height: 140px; overflow:scroll; resize:none; overflow-x:hidden"
                                                 ondragover="event.preventDefault();" @ondrop="() => HandleDropList2(group.IdGroup, new DragEventArgs())">
                                                <div class="row">
                                                    <div class="col-12">
                                                        @foreach (var item in List2)
                                                        {
                                                            if (group.IdGroup == item.IdGroup)
                                                            {
                                                                <div class="draggable-item" draggable="true"
                                                                     @ondragstart="() => HandleDragStart(item, group.IdGroup)"
                                                                     @ondragend="HandleDragEnd">
                                                                    @item.Name
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="tab-pane fade" id="pull" role="tabpanel" aria-labelledby="pull-tab">
                <div class="row align-content-center">
                    <div class="col-lg-4">
                        <div class="list-container" ondragover="event.preventDefault();" @ondrop="HandleDropList3" style="width: 100%; height: 50%; overflow: auto; overflow-x:hidden">
                            <PaginationComponent2 TItem="Item" Items="List3" DefaultPageSize="10">
                                <ChildContentHeader>
                                    <tr>
                                        <th>Historias - Pulls</th>
                                    </tr>
                                </ChildContentHeader>
                                <ChildContentRow Context="item">
                                    <tr>
                                        <td>
                                            <div class="draggable-item" draggable="true"
                                                 @ondragstart="() => HandleDragStart2(item, null)"
                                                 @ondragend="HandleDragEnd2">
                                                @item.Name
                                            </div>
                                        </td>
                                    </tr>
                                </ChildContentRow>
                            </PaginationComponent2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            @foreach (var group in grupospull)
                            {
                                <div class="col-lg-6">
                                    <div class="list-container" style="width: 100%; resize:none; overflow-x:hidden; overflow-y:hidden;">
                                        <div style="width: 100%; height: 15px;">
                                            <div class="row">
                                                <div class="col-10">
                                                    <strong><h7>@group.GroupName&nbsp;&nbsp;&nbsp;</h7></strong>
                                                </div>
                                                <div class="col-1 align-content-end">
                                                    @if (group.GroupName != "Leftovers")
                                                    {
                                                        @if (proyecto.StatusProject == 1)
                                                        {
                                                            @if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
                                                            {
                                                                <button class="btn boton-primario btn-sm" title="Editar" @onclick="() => EditarEntidad(group)">
                                                                    <i class="bi bi-pencil"></i>
                                                                </button>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div id="@group.IdGroup+@group.GroupName" class="list-container2" style="width: 98%; height: 140px; overflow:scroll; resize:none; overflow-x:hidden"
                                                 ondragover="event.preventDefault();" @ondrop="() => HandleDropList4(group.IdGroup, new DragEventArgs())">
                                                <div class="row">
                                                    <div class="col-12">
                                                        @foreach (var item in List4)
                                                        {
                                                            if (group.IdGroup == item.IdGroup)
                                                            {
                                                                <div class="draggable-item" draggable="true"
                                                                     @ondragstart="() => HandleDragStart2(item, group.IdGroup)"
                                                                     @ondragend="HandleDragEnd2">
                                                                    @item.Name
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>


@if (mostrarFormulario)
{
    <div class="row align-content-center">
        <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@(entidadActual.IdGroup == 0 ? "Agregar" : "Editar")</h5>
                        <button type="button" class="btn-close" @onclick="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="entidadActual" OnValidSubmit="GuardarEntidad">
                            <DataAnnotationsValidator />

                            <div class="mb-3">
                                <label class="form-label">Nombre:</label>
                                <InputText class="form-control" @bind-Value="entidadActual.GroupName" />
                                <ValidationMessage For="@(() => entidadActual.GroupName)" />
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn boton-primario me-2">
                                    <i class="bi bi-save"></i> Guardar
                                </button>
                                <button type="button" class="btn btn-danger" @onclick="Cancelar">
                                    <i class="bi bi-times"></i> Cancelar
                                </button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            </div>
    </div>
}

@if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string IdProyecto { get; set; }
    [Parameter]
    public string userrol { get; set; }

    private List<Groups> grupospush = new();
    private List<Groups> grupospull = new();
    private List<StoriesPush> storiespush = new();
    private List<StoriesPull> storiespull = new();
    private CreateGroup entidadActual = new();
    private bool mostrarFormulario = false;
    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private bool cargando = false;  

    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IGroups repository { get; set; } = null!;
    [Inject] private IProjects repoproyect { get; set; } = null!;
    [Inject] private IStories repostorie { get; set; } = null!;
    [Inject] private IEmployee repouser { get; set; } = null!;
    private Projects proyecto = new();

    private List<Item> List1 = new();
    private List<Item> List2 = new();
    private List<Item> List3 = new();
    private List<Item> List4 = new();

    private Item _draggedItem;
    private List<Item> _sourceList;
    private Item _draggedItem1;
    private List<Item> _sourceList1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        mostrarAlerta = true;
        if (firstRender)
        {
            mostrarAlerta = false;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        await CargarEntidades();
        cargando = false;
    }

    private async Task CargarEntidades()
    {
        try
        {
            proyecto = (Projects)await repoproyect.GetByIdAsync(int.Parse(IdProyecto));

            grupospush = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 0);
            grupospull = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 1);

            if (grupospush.Count() == 0)
            {
                for (int i = 1; i < 12; i++)
                {
                    string name = $"Grupo {i.ToString()}";
                    if (i == 11)
                        name = "Leftovers";

                    CreateGroup entidadActual = new CreateGroup()
                    {
                        IdGroup = 0,
                        IdTipo = 0,
                        IdProject = int.Parse(IdProyecto),
                        GroupName = name
                    };

                    await repository.CreateAsync(entidadActual);
                }
                grupospush = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 0);
            }

            if (grupospull.Count == 0)
            {
                for (int i = 1; i < 12; i++)
                {
                    string name = $"Grupo {i.ToString()}";
                    if (i == 11)
                        name = "Leftovers";

                    CreateGroup entidadActual = new CreateGroup()
                    {
                        IdGroup = 0,
                        IdTipo = 1,
                        IdProject = int.Parse(IdProyecto),
                        GroupName = name
                    };

                    await repository.CreateAsync(entidadActual);
                }
                grupospull = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 1);
            }

            storiespush = (List<StoriesPush>)await repostorie.GetPushesByProjectIdAsync(int.Parse(IdProyecto));
            foreach(var push in storiespush)
            {
                if (push.Groups == null)
                {
                    List1.Add(new Item
                    {
                        Id = push.PushesGroups.IdPush,
                        Name = push.Stories.TitleStorie + " - " + push.PushesGroups.PushName
                    });
                }
                else
                {
                    List2.Add(new Item
                    {
                        Id = push.PushesGroups.IdPush,
                        IdGroup = push.Groups.IdGroup,
                        Name = push.Stories.TitleStorie + " - " + push.PushesGroups.PushName
                    });
                }
            }

            storiespull = (List<StoriesPull>)await repostorie.GetPullsByProjectIdAsync(int.Parse(IdProyecto));
            foreach (var pull in storiespull)
            {
                if (pull.Groups == null)
                {
                    List3.Add(new Item
                    {
                        Id = pull.PullGroups.IdPull,
                        Name = pull.Stories.TitleStorie + " - " + pull.PullGroups.PullName
                    });
                }
                else
                {
                    List4.Add(new Item
                    {
                        Id = pull.PullGroups.IdPull,
                        IdGroup = pull.Groups.IdGroup,
                        Name = pull.Stories.TitleStorie + " - " + pull.PullGroups.PullName
                    });
                }
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }


    private void EditarEntidad(Groups grupo)
    {
        try
        {
            entidadActual = new CreateGroup
            {
                IdProject = int.Parse(IdProyecto),
                IdGroup = grupo.IdGroup,
                IdTipo = grupo.IdTipo,
                GroupName = grupo.GroupName
            };
            mostrarFormulario = true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private async Task GuardarEntidad()
    {
        try
        {
            if (entidadActual.IdGroup == 0)
                await repository.CreateAsync(entidadActual);
            else
                await repository.UpdateAsync(entidadActual);

            grupospush = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 0);
            grupospull = (List<Groups>)await repository.GetByProjectIdIndicadorAsync(int.Parse(IdProyecto), 1); 

            mostrarFormulario = false;
            mensajeAlerta = "Grupo guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void Cancelar()
    {
        mostrarFormulario = false;
    }

    private void Regresar()
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyectos");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void HandleDragStart(Item item, int? idGroup)
    {
        if (proyecto.StatusProject == 1)
        {
            if (int.Parse(userrol) > 0 && int.Parse(userrol) < 3)
            {
                if (idGroup != null)
                    item.IdGroup = idGroup;

                _draggedItem = item;
                _sourceList = List1.Contains(item) ? List1 : List2;
            }
        }
    }

    private void HandleDragEnd()
    {
        _draggedItem = null;
        _sourceList = null;
    }

    private void HandleDragOver(DragEventArgs e)
    {
        e.DataTransfer.DropEffect = "move";
    }

    private async Task HandleDropList1(DragEventArgs e)
    {
        if (proyecto.StatusProject == 1)
        {
            {
                if (_draggedItem != null && _sourceList != List1)
                {
                    _draggedItem.IdGroup = null;
                    _sourceList.Remove(_draggedItem);
                    List1.Add(_draggedItem);
                    await repostorie.UpdatePushesGroupEntityAsync(_draggedItem.Id, null);
                    StateHasChanged();
                }
            }
        }
    }

    private async Task HandleDropList2(int? idGroup, DragEventArgs e)
    {
        if (proyecto.StatusProject == 1)
        {
            {
                {
                    if (idGroup != null)
                        _draggedItem.IdGroup = idGroup;

                    _sourceList.Remove(_draggedItem);
                    List2.Insert(0, _draggedItem);
                    await repostorie.UpdatePushesGroupEntityAsync(_draggedItem.Id, _draggedItem.IdGroup);
                    StateHasChanged();
                }
            }
        }
    }

    private void HandleDragStart2(Item item, int? idGroup)
    {
        if (proyecto.StatusProject == 1)
        {
            {
                if (idGroup != null)
                    item.IdGroup = idGroup;

                _draggedItem1 = item;
                _sourceList1 = List3.Contains(item) ? List3 : List4;
            }
        }
    }

    private void HandleDragEnd2()
    {
        _draggedItem1 = null;
        _sourceList1 = null;
    }

    private void HandleDragOver2(DragEventArgs e)
    {
        e.DataTransfer.DropEffect = "move";
    }

    private async Task HandleDropList3(DragEventArgs e)
    {
        if (proyecto.StatusProject == 1)
        {
            {
                if (_draggedItem1 != null && _sourceList1 != List3)
                {
                    _draggedItem1.IdGroup = null;
                    _sourceList1.Remove(_draggedItem1);
                    List3.Add(_draggedItem1);
                    await repostorie.UpdatePullsGroupEntityAsync(_draggedItem1.Id, null);
                    StateHasChanged();
                }
            }
        }
    }

    private async Task HandleDropList4(int? idGroup, DragEventArgs e)
    {
        if (proyecto.StatusProject == 1)
        {
            {
                if (idGroup != null)
                    _draggedItem1.IdGroup = idGroup;

                _sourceList1.Remove(_draggedItem1);
                List4.Insert(0, _draggedItem1);
                await repostorie.UpdatePullsGroupEntityAsync(_draggedItem1.Id, _draggedItem1.IdGroup);
                StateHasChanged();
            }
        }
    }

    private async Task MostrarMatriz(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsmatriz/{id}/{userrol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }
}
<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 11px;
    }
    .list-container {
        border: 1px solid #D3D3D3; /* Borde sólido de 1px y color negro */
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        min-height: 200px;
        flex: 1;
        /* box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.5); /* Sombra negra con opacidad */
    }

    .list-container2 {
        border: 0px solid #D3D3D3; /* Borde sólido de 1px y color negro */
        border-radius: 3px;
        padding: 3px;
        margin: 3px;
        min-height: 140px;
        flex: 1;
        /* box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.5); /* Sombra negra con opacidad */
    }

    .draggable-item {
        /* background-color: lightblue; */
        border: 1px solid #D3D3D3;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
        cursor: grab;
    }
</style>