@page "/proyect/proyectos"

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Proyectos> Logger
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Proyectos</PageTitle>

<div class="row align-content-center">
    <div class="col-lg-12">
        <h3 class="text-start mt-4">Gestión de proyectos</h3>
        @if (UserRol > 0 && UserRol < 3)
        {
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary" @onclick="MostrarFormulario" title="Agregar Proyecto">
                <i class="bi bi-plus-lg"></i> 
                </button>
            </div>
        }

        @if (mostrarAlerta)
        {
            <div id="divAlerta" class="alert alert-success alert-dismissible fade show toast-container" role="alert" style="display:none;">
                @mensajeAlerta
                <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
            </div>
        }


        @if (proyectos is null)
        {
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p>Cargando datos...</p>
            </div>
        }
        else if (!proyectos.Any())
        {
            <div class="alert alert-info text-center">No hay proyectos disponibles.</div>
        }
        else
        {
            <PaginationComponentEdit TItem="Projects" Items="proyectos" DefaultPageSize="10">
                <ChildContentHeader>
                    <tr>
                        <th width="5%">#</th>
                        <th width="40%">Nombre</th>
                        <th width="15%">Fecha</th>
                        <th width="10%">Departamento</th>
                        <th width="10%">Categoría</th>
                        <th width="20%"> </th>
                    </tr>
                </ChildContentHeader>
                <ChildContentRow Context="p">
                    <tr>
                        <td width="5%">@BuscarIndex(p.IdProject)</td>
                        <td width="40%">@p.ProjectName</td>
                        <td width="15%">@p.ProjectDate</td>
                        <td width="10%">@p.Deparment.Name</td>
                        <td width="10%">@p.Categories.Name</td>
                        <td width="20%" class="text-end">
                            @if (UserRol > 0 && UserRol < 3)
                            {

                                @if (p.StatusProject == 1)
                                {
                                    <button class="btn btn-success btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-sm me-2" title="Editar" @onclick="() => EditarEntidad(p)">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                }
                            }
                            <button class="btn btn-secondary btn-sm me-1" title="Agregar Entrevistados" @onclick="() => AgrgarEntrvistado(p.IdProject.ToString())">
                                <i class="bi bi-person-add"></i>
                            </button>
                            <button class="btn btn-secondary btn-sm me-1" title="Agrupar Historias" @onclick="() => AgruparHistorias(p.IdProject.ToString())">
                                <i class="bi bi-ui-checks"></i>
                            </button>
                            <button class="btn btn-secondary btn-sm me-2" title="Matriz Historias" @onclick="() => MostrarMatriz(p.IdProject.ToString())">
                                <i class="bi bi-kanban"></i>
                            </button>
                            @if (UserRol > 0 && UserRol < 3)
                            {
                                <button class="btn btn-danger btn-sm me-1" title="Eliminar" @onclick="() => EliminarEntidad(p.IdProject)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                </ChildContentRow>
            </PaginationComponentEdit>
        }
    </div>
</div>

@if (mostrarFormulario)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(proyectoActual.IdProject == 0 ? "Agregar" : "Editar")</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@proyectoActual" OnValidSubmit="GuardarEntidad">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label class="form-label">Nombre:</label>
                            <InputText class="form-control" @bind-Value="proyectoActual.ProjectName" disabled="@(proyectoActual.StatusProject != 1)" />
                            <ValidationMessage For="@(() => proyectoActual.ProjectName)" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha:</label>
                            <InputDate class="form-control" @bind-Value="proyectoActual.ProjectDate" disabled="@(proyectoActual.StatusProject != 1)" />
                            <ValidationMessage For="@(() => proyectoActual.ProjectDate)" />
                        </div>
                        @if (UserRol == 1)
                        {
                            <div class="mb-3">
                                <label class="form-label">Departamentos:</label>
                                <InputSelect class="form-select" @bind-Value="proyectoActual.IdDeparmento" disabled="@(proyectoActual.StatusProject != 1)">
                                    <option value="-1">-- Seleccione uno --</option>
                                    @foreach (var item in departamento)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => proyectoActual.IdDeparmento)" />
                            </div>
                        }
                        <div class="mb-3">
                            <label class="form-label">Categorías:</label>
                            <InputSelect class="form-select" @bind-Value="proyectoActual.idCategoria" disabled="@(proyectoActual.StatusProject != 1)">
                                <option value="-1">-- Seleccione uno --</option>
                                @foreach (var item in categorias)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => proyectoActual.idCategoria)" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcion:</label>
                            <InputText class="form-control" @bind-Value="proyectoActual.ProjectDescription" disabled="@(proyectoActual.StatusProject != 1)" />
                            <ValidationMessage For="@(() => proyectoActual.ProjectDescription)" />
                        </div>
                        <div class="d-flex justify-content-end">
                            @if (proyectoActual.StatusProject != 2)
                            {
                                <button type="submit" class="btn btn-success me-2">
                                    <i class="bi bi-save"></i> Guardar
                                </button>
                            }
                            <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                                <i class="bi bi-times"></i> Cancelar
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (mostrarFormulario2)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Abrir Proyecto</h5>
                    <button type="button" class="btn-close" @onclick="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        ¿Está seguro? Desea volver abrir el proyecto.
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary me-2" @onclick="CerrarProyecto">
                            <i class="bi bi-times"></i> Abrir
                        </button>
                        <button type="button" class="btn btn-secondary" @onclick="Cancelar">
                            <i class="bi bi-times"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    private List<Deparments> departamento = new();
    private List<Categories> categorias = new();
    private List<Projects> proyectos = new();
    private CreateProject proyectoActual = new();
    private bool mostrarFormulario = false;
    private bool mostrarFormulario2 = false;
    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private string username = "dusa-user";
    private int UserRol = 5;
    private string usernamelargo = string.Empty;
    private int UserDepart = 0;
    private int index1 = 1;
    private bool cargando = false;

    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IProjects repository { get; set; } = null!;
    [Inject] private IDeparments repodepart { get; set; } = null!;
    [Inject] private ICategories repocategoria { get; set; } = null!;
    [Inject] private IEmployee repouser { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        mostrarAlerta = true;
        if (firstRender)
        {
            mostrarAlerta = false;
            cargando = true;
            StateHasChanged();
            try
            {
                var userrolaux = await SessionStorage.GetAsync<string>("UserRol");
                if (!string.IsNullOrEmpty(userrolaux.Value))
                {
                    UserRol = int.Parse(userrolaux.Value);
                    var userdepartaux = await SessionStorage.GetAsync<string>("UserDepart");
                    UserDepart = int.Parse(userdepartaux.Value);
                }
                else
                {
                    var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
                    if (authState.User.Identity != null && authState.User.Identity.IsAuthenticated)
                    {
                        usernamelargo = authState.User.Identity.Name ?? "";
                        var splitName = authState.User.Identity.Name?.Split(@"\");
                        if (splitName != null && splitName.Length > 1)
                        {
                            username = splitName[1].Trim();
                        }

                        // Evitamos llamar a DB si username es nulo
                        if (!string.IsNullOrEmpty(username))
                        {
                            Employee user = await repouser.GetByUsernameAsync(username);
                            if (user != null)
                            {
                                UserRol = user.EmployeeRol;
                                UserDepart = user.Deparments.Id;

                                await SessionStorage.SetAsync("UserRol", user.EmployeeRol.ToString());
                                await SessionStorage.SetAsync("UserDepart", user.Deparments.Id.ToString());
                                await SessionStorage.SetAsync("UserName", username);
                            }
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                Logger.LogError(ex.Message);
                mensajeAlerta = ex.Message;
                mostrarAlerta = true;
            }

            try
            {
                categorias = (List<Categories>)await repocategoria.GetAllAsync();

                if (UserRol == 1)
                {
                    departamento = (List<Deparments>)await repodepart.GetAllAsync();
                    proyectos = (List<Projects>)await repository.GetAllAsync();
                }
                else
                {
                    int aux = (UserDepart == null ? -1 : int.Parse(UserDepart.ToString()));
                    proyectos = (List<Projects>)await repository.GetByDeparmentIdAsync(aux);
                }
                StateHasChanged();
            }
            catch (Exception ex)
            {
                //Logger.LogError(ex.Message);
                mensajeAlerta = ex.Message;
                mostrarAlerta = true;
            }

            cargando = false;
            StateHasChanged();
        }
    }

    private int BuscarIndex(int idProject)
    {
        index1 = 1;
        foreach (var proyecto in proyectos)
        {
            if (proyecto.IdProject == idProject)
            {
                return index1;
            }
            index1++;
        }
        return index1;
    }

    private async Task MostrarFormulario()
    {
        try
        {
            proyectoActual = new CreateProject();
            if (UserRol == 1)
                proyectoActual.IdDeparmento = -1;
            else
            {
                int aux = (UserDepart == null ? -1 : int.Parse(UserDepart.ToString()));
                proyectoActual.IdDeparmento = aux;
            }

            proyectoActual.idCategoria = -1;
            proyectoActual.StatusProject = 1;
            proyectoActual.ProjectDate = DateTime.Now;
            proyectoActual.CreatedDate = DateTime.Now;
            proyectoActual.CreatedUser = username;
            proyectoActual.UpdatedDate = DateTime.Now;
            proyectoActual.UpdatedUser = username;

            mostrarFormulario = true;
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task EditarEntidad(Projects proyecto)
    {
        try
        {
            proyectoActual = new CreateProject
            {
                IdProject = proyecto.IdProject,
                ProjectName = proyecto.ProjectName,
                ProjectDate = proyecto.ProjectDate,
                IdDeparmento = proyecto.Deparment.Id,
                idCategoria = proyecto.Categories.Id,
                ProjectDescription = proyecto.ProjectDescription,
                MaxPushes = proyecto.MaxPushes,
                MaxPulls = proyecto.MaxPulls,
                RutaImage = proyecto.RutaImage,
                CreatedDate = proyecto.CreatedDate,
                CreatedUser = proyecto.CreatedUser,
                UpdatedDate = DateTime.Now,
                UpdatedUser = username,
                StatusProject = proyecto.StatusProject
            };
            mostrarFormulario = true;
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task EditarEntidad2(Projects proyecto)
    {
        try
        {
            proyectoActual = new CreateProject
                {
                    IdProject = proyecto.IdProject,
                    ProjectName = proyecto.ProjectName,
                    ProjectDate = proyecto.ProjectDate,
                    IdDeparmento = proyecto.Deparment.Id,
                    idCategoria = proyecto.Categories.Id,
                    ProjectDescription = proyecto.ProjectDescription,
                    MaxPushes = proyecto.MaxPushes,
                    MaxPulls = proyecto.MaxPulls,
                    RutaImage = proyecto.RutaImage,
                    CreatedDate = proyecto.CreatedDate,
                    CreatedUser = proyecto.CreatedUser,
                    UpdatedDate = DateTime.Now,
                    UpdatedUser = username,
                    StatusProject = 1
                };
            mostrarFormulario2 = true;
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task GuardarEntidad()
    {
        try
        {
            if (proyectoActual.IdProject == 0)
                await repository.CreateAsync(proyectoActual);
            else
                await repository.UpdateAsync(proyectoActual);

            proyectos = (List<Projects>)await repository.GetAllAsync();
            mostrarFormulario = false;
            mensajeAlerta = "Proyecto guardado exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
        catch(Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task EliminarEntidad(int id)
    {
        try
        {
            bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Esta seguro que desea eliminar este registro?");
            if (confirmed)
            {
                await repository.DeleteAsync(id);
                proyectos = (List<Projects>)await repository.GetAllAsync();
                mensajeAlerta = "Proyecto eliminado exitosamente.";
                mostrarAlerta = true;
                await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            }
        }
        catch (Exception ex)
        {
            mensajeAlerta = "No se puede eliminar el registros ya que existen relaciones con otras tablas que no han sido eliminadas.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            Logger.LogError(ex.Message);
        }
    }

    private void Cancelar()
    {
        mostrarFormulario = false;
        mostrarFormulario2 = false;
    }

    private async Task AgrgarEntrvistado(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/interview/{id}/{UserRol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task AgrgarGrupos(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsgroups/{id}/{UserRol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task AgruparHistorias(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsagrupar/{id}/{UserRol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task MostrarMatriz(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsmatriz/{id}/{UserRol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task ValidarGrupos(string id)
    {
        try
        {
            NavigationManager.NavigateTo($"proyect/proyecsvalidar/{id}/{UserRol}");
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }

    private async Task CerrarProyecto()
    {
        try
        {
            await repository.UpdateAsync(proyectoActual);

            mensajeAlerta = "Proyecto re-abierto exitosamente.";
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);

            mostrarFormulario2 = false;

            try
            {
                proyectos = (List<Projects>)await repository.GetAllAsync();
            }
            catch (Exception ex)
            {
                Logger.LogError(ex.Message);
                mensajeAlerta = ex.Message;
                mostrarAlerta = true;
                await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
            await JSRuntime.InvokeVoidAsync("TimeoutHelper.showAndHide", "divAlerta", 8000);
        }
    }
}
<script>
    // Intentamos correrlo inmediatamente por si el HTML ya existe
    window.initSidebarState();
</script>